@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

.nav {
  padding: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
  color: white;
  
}

.nav h1 {
  font-family: 'Rubik', sans-serif;
  font-weight:600;
  color: white;
  text-align: center;
}
.nav .links {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 25px;  
  font-weight: 600;
}

.nav .links img {
  vertical-align: middle;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 15px;
  margin-bottom: 25px;
}
.nav a:hover {
  color:red;
}

.App{
  text-align: center;
}

.player{
  left: 33.5%;
  position: relative;

}

.ol  {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}


.Vid{
  text-align: center;
}
  
.button{
  font-family: 'Rubik', sans-serif;
}

.bread{
  padding: 5px;
  background-color: beige;
}

.how{
  text-align: center;
}

.how ul{
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;

}

code {
  font-family: 'Rubik', sans-serif;

}
